<app-reusablecomponent [message]="'NgIf Loaded'" [alertType]="'success'"></app-reusablecomponent>
<app-reusable-btn ></app-reusable-btn>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="firstName">First Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="lastName">Last Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="emailAddress">Email Address:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="phoneNumber">Mobile Number:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number">
                    </div>
                </div>

               <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="ZipCode">Zip Code:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ZipCode" placeholder="Zip Code">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" for="uploadImage">Upload Image:</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control" id="uploadImage">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Gender:</label>
                    <div class="col-sm-9 mt-2">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" id="radioMale">
                            <label class="form-check-label" for="radioMale">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="gender" id="radioFemale">
                            <label class="form-check-label" for="radioFemale">Female</label>
                        </div>
                    </div>
                </div>

                <div id="step-2">
                    <div class="row">
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="Address" required> </div>
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="City" required> </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="State" required> </div>
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="Country" required> </div>
                    </div>
                </div>
                <div id="step-3" class="">
                    <div class="row">
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="Card Number" required> </div>
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="Card Holder Name" required> </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="CVV" required> </div>
                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="Mobile Number" required> </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-9 offset-sm-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAgree" value="agree">
                            <label class="form-check-label" for="checkAgree">I agree to the <a href="#">Terms and Conditions</a></label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-secondary ms-2" value="Reset">
                    </div>
                </div>
            </form>
        </div>
        </div>

</div>
